* {
    box-sizing: border-box;
  }
body{
   font-family:  Quicksand, sans-serif;
   background-color: #f8f3e7;
}
.header {
    background-color: #214738;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;

  }
  
  .brand {
    font-size: 24px;
  }

  .header-right a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 1rem;
  }
  
  .wrapper {
    margin-top: 60px; 
  }

  .container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .product-details {
    display: flex;
    gap: 20px;
  }
  
  .product-list {
    list-style: none; /* Remove the bullet points */
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .product-item {
    width: calc(33.33% - 20px);
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .product-item-img img {
    max-width: 100%;
    height: auto;
  }
  
  .product-item-info-heading {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  .product-item-info a {
    text-decoration: none;
  }

  .product-image {
    position: relative;
    overflow: hidden;
  }
  
  .product-image img {
    width: 100%;
    max-width: 700px;
    transition: transform 0.3s ease;
  }
  
  .product-image:hover img {
    transform: scale(1.2);
  }
  
  .product-info {
    flex-grow: 1;
  }
  
  .product-info h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .category {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .price {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .rating {
    margin-top: 5px;
    font-size: 14px;
  }
  
  .description {
    margin-top: 10px;
  }
  
  .count-in-stock {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .add-to-cart {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #214738;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  .add-to-cart:hover {
    background-color: #1a3c2a;
  }
  

.quantity {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .quantity-button {
    width: 30px;
    height: 30px;
    font-size: 16px;
    background-color: #214738;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  .quantity-button:hover {
    background-color: #1a3c2a;
  }
  
  .quantity-input {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Other browsers */
    width: 60px;
    height: 30px;
    padding: 0 10px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  .quantity-input::-webkit-inner-spin-button,
  .quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  .product-specifications {
    list-style: none;
    padding: 0;
  }
  
  .product-specifications li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  .product-specifications li strong {
    display: inline-block;
    width: 200px;
  }
  

    